<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/moren.css" rel="stylesheet" />
		<link href="css/weui.css" rel="stylesheet" />	
		
		<link href="css/music.css" rel="stylesheet" />
		<style type="text/css">
			html,
			body {
				background-color: #efeff4;
			}

			p {
				text-indent: 22px;
			}

			span.mui-icon {
				font-size: 14px;
				color: #007aff;
				margin-left: -15px;
				padding-right: 10px;
			}

			.mui-off-canvas-left {
				color: #fff;
			}

			.title {
				margin: 35px 15px 10px;
			}

			.title+.content {
				margin: 10px 15px 35px;
				color: #bbb;
				text-indent: 1em;
				font-size: 14px;
				line-height: 24px;
			}

			input {
				color: #000;
			}
			
			[v-cloak]{
				display: none !important;
			}
			.mui-scroll{
				margin-bottom: 60px;
			}
		</style>
	</head>
	<body>
		
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--侧滑菜单部分-->
			<aside id="offCanvasSide" class="mui-off-canvas-left">
				<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
					<div class="mui-scroll sideLogin">
							<button v-if="loginStatus" type="button" class="mui-btn music-header">登录</button>
							<div class="userinfo" id="userinfo" v-else>
								<img width="100px" height="100px" :src="avatarUrl"/>
								<p>{{username}}</p>
							</div>
							
					</div>
				</div>
			</aside>
			<!--主界面部分-->
			<div class="mui-inner-wrap">				
					<!-- off-canvas backdrop -->
					<div class="mui-off-canvas-backdrop"></div>	
					<header class="mui-bar mui-bar-nav music-header">
					<a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
					<h1 class="mui-title" style="color: white;">网易云音乐</h1>		
					<span class="mui-icon mui-icon-search mui-pull-right" style="color: white;"></span>
					</header>
					
					<div class="mui-content" style="margin-bottom: 60px;">
						<div class="weui-tab" id="t2" style="height:44px;">
					        <div class="weui-navbar" id="navbar" :class="tabClass">
					            <div class="weui-navbar__item nowTime" data-name="nowTime">
					           		   时下流行
					            </div>
					            <div class="weui-navbar__item gedan" data-name="gedan">
					            	    歌单
					            </div>
					            <div class="weui-navbar__item paihang" data-name="paihang">
					              	  排行榜
					            </div>
					            <div class="weui-navbar__item remen" data-name="remen">
					              	  热门歌手
					            </div>
					        </div>						       
				    	</div>				    	
				    	<!--时下流行-->	
				    	<div class="mui-scroll-wrapper" id="pullrefresh" style="top:88px;" v-if="tabShowStatusnowTime">
							<div class="mui-scroll">
							
				    		<div class="mui-slider" style="top:10px">
							  <div class="mui-slider-group mui-slider-loop">
							    <!--支持循环，需要重复图片节点-->
							    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img :src="lastBanners.imageUrl" /></a></div>
							  	<template v-for="item in banners">
							    	<div class="mui-slider-item"><a href="#"><img :src="item.imageUrl" /></a></div>
							    </template>	    	
							    <!--支持循环，需要重复图片节点-->
							    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img :src="firstBanners.imageUrl" /></a></div>
							  </div>
							   <!-- 指示点 -->
							<div class="mui-slider-indicator"  style="position:absolute;bottom:0.2rem;">
								<div class="mui-indicator mui-active"></div>
								<div class="mui-indicator" v-for="value in length"></div>
							</div>
							</div>
				    	
				    		<!--推荐歌单-->
				    			<div class="gedanBox">
				    			    <div class="tuijian-top">
				    			    	<p style="font-size: 20px;">推荐歌单</p>
				    			    	<p>更多</p>
				    			    </div>
				    			    <div class="tuijian-bottom">
				    			    	<template v-for="item in RecommendResource">
					    			    	<div class="tb-box" :data-Id="item.id">
					    			    		<span class="tb-one" style="font-size: 0.9rem;">
					    			    			{{item.playcount | capitalize}}
					    			    		</span>
					    			    		<img :src="item.picUrl" class="tb-img"/>
					    			    		<span style="font-size: 0.8rem;">{{item.name | namefilter}}</span>
					    			    	</div>
										</template>
				    			    </div>
				    			</div>
				    		<!--推荐歌单-->
				    		<!--推荐电台-->
				    			<div class="gedanBox">
				    			    <div class="tuijian-top">
				    			    	<p style="font-size: 20px;">主播电台</p>
				    			    	<p>更多</p>
				    			    </div>
				    			    <div class="tuijian-bottom">
				    			    	<template v-for="item in RecommendRDjprogram">
					    			    	<div class="tb-box">
					    			    		<img :src="item.picUrl" class="tb-img"/>
					    			    		<span style="font-size: 0.8rem;">{{item.copywriter | namefilter}}</span>
					    			    	</div>
										</template>
				    			    </div>
				    			</div>
				    		<!--推荐歌曲-->
				    		
							</div>
						</div>
				    	<!--时下流行-->
				    	
				    	<!--歌单-->
				    	<div class="mui-scroll-wrapper" id="pullrefresh" style="top:88px;" v-else-if="tabShowStatusgedan">
							<div class="mui-scroll">
								<div v-cloak class="gedanheader">								
								    <div class="headerBottom">
								    	<div class="tb-box">				    			    		
					    			    		<img src="NeteaseCloudMusicApi/docs/favicon.ico" class="tb-img"/>  			    		
					 					</div>
					 					<div class="hb-text">
					 						<span id="hb-title">
					 							精品歌单 >
					 						</span>
					 						<div class="hb-user">	
					 							<span id="hb-name" style="font-size: 3.5vw;">
					 								{{description}}
					 							</span>
					 						</div>
					 					</div>
								    </div>
								</div>
								
								<div class="allPlay">
		  							全部歌单
		  						</div>
							</div>
						</div>
				    	<!--歌单-->
				    	
				    	<!--排行榜-->
				    	<div class="mui-scroll-wrapper" id="pullrefresh" style="top:88px;" v-else-if="tabShowStatuspaihang">
							<div class="mui-scroll">
								<div v-cloak class="TopBox">
									<div class="OfficialTop">
										<span id="officialText" style="margin-left: 10px;">
											{{officialText}}
										</span>
										<div class="OfficialList">				
											<template v-for="item in officialList">
												<div class="official-L-box">
													<div class="official-img-box" :data-Id="item.id">
						    			    		
						    			    		<img :src="item.coverImgUrl" class="officialimg"/>
						    			    		<span class="Official-one" style="font-size: 0.9rem;">
						    			    			{{item.updateFrequency}}
						    			    		</span>
						    			    		</div>
							    			    	<div class="OfficialtopThree">
							    			    		<template v-for="items,index in item.tracks">
							    			    			<div id="topthree">
							    			    				{{index+1}} {{items.second | substring}}-{{items.first | substring}}
							    			    			</div>
							    			    		</template>
							    			    	</div>
												</div>    	
											</template>
										</div>										
									</div>
									
									<div class="GlobalTop">
										<span id="GlobalText">
											{{GlobalText}}
										</span>
										<div class="GlobalList">
											
										</div>
									</div>
								</div>
							</div>
						</div>
				    	<!--排行榜-->
				    	
				    	<!--热门歌手-->
				    	<div class="mui-scroll-wrapper" id="pullrefresh" style="top:88px;" v-else="tabShowStatusremen">
							<div class="mui-scroll">
								热门歌手
							</div>
						</div>	
				    	<!--热门歌手-->
					</div>
			</div>
			
		</div>
		<div id="musicApp">
			<Audio-Tool :nowmusicname="nowmusicname" :nowsingname="nowsingname" :playimg="playimg"></Audio-Tool>
		</div>
		<script src="js/mui.js"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/audio.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/webviewGroup.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
			//侧滑容器父节点
			var offCanvasWrapper = mui('#offCanvasWrapper');
			//主界面容器
			var offCanvasInner = offCanvasWrapper[0].querySelector('.mui-inner-wrap');
			//菜单容器
			//移动效果是否为整体移动
			var moveTogether = false;
			//侧滑容器的class列表，增加.mui-slide-in即可实现菜单移动、主界面不动的效果；
			var classList = offCanvasWrapper[0].classList;
			classList.add("mui-slide-in");
			//主界面和侧滑菜单界面均支持区域滚动；
			
			//加载次数
			var nowTimenum,gedannum,paihangnum,remennum=0;
			
			mui('.mui-scroll-wrapper').scroll({
				deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
			});
			mui(document.body).on('tap', '.mui-btn', function(e) {
			    mui.openWindow({
							url:"login.html",
							id:"login"
						})
			});
			mui(document.body).on('tap', '.weui-navbar__item', function(e) {
			    var dataName=e.target.dataset.name;
			    offCanvasWrapperApp.tabClass=dataName;
			    switch (dataName){
			    	case "nowTime":
			    	if(nowTimenum!=1){
			    		getBanner(mui);
						getRecommendResource(mui);
						getRecommendmusic(mui);
			    	}
			    	offCanvasWrapperApp.tabShowStatusnowTime=true;
					offCanvasWrapperApp.tabShowStatusgedan=false;
					offCanvasWrapperApp.tabShowStatuspaihang=false;
					offCanvasWrapperApp.tabShowStatusremen=false;
			    		break;
			    	case "gedan":
			    	if(	gedannum!=1){
			    	
						getCatlist(mui);
			    	}
			    	offCanvasWrapperApp.tabShowStatusnowTime=false;
					offCanvasWrapperApp.tabShowStatusgedan=true;
					offCanvasWrapperApp.tabShowStatuspaihang=false;
					offCanvasWrapperApp.tabShowStatusremen=false;
			    		break;
			    	case "paihang":
			    	if(paihangnum!=1){
			    		
						getTopdetailList(mui)
			    	}
			    	offCanvasWrapperApp.tabShowStatusnowTime=false;
					offCanvasWrapperApp.tabShowStatusgedan=false;
					offCanvasWrapperApp.tabShowStatuspaihang=true;
					offCanvasWrapperApp.tabShowStatusremen=false;
			    		break;
			    	case "remen":
			    	if(remennum!=1){
			    		
			    	}
			    	offCanvasWrapperApp.tabShowStatusnowTime=false;
					offCanvasWrapperApp.tabShowStatusgedan=false;
					offCanvasWrapperApp.tabShowStatuspaihang=false;
					offCanvasWrapperApp.tabShowStatusremen=true;
			    		break;
			    	default:
			    		break;
			    }
			});		
			/*点击推荐歌单，携带id跳转*/
			mui(document.body).on('tap', '.tb-box', function(e) {
			      var id=e.target.offsetParent.dataset.id;
			      mui.openWindow({
						url:'gedanList.html?id='+id,
					});
			});

			/*搜索*/
			mui(document.body).on('tap', '.mui-icon-search', function(e) {			    
			      mui.openWindow({
						url:"search.html",
						id:"search"
					});
			});
		</script>
		<script type="text/javascript">
			Vue.filter('capitalize', function (value) {
			  if (!value) return ''
			  value = value.toString()
			  return value.substring(0,value.length-4)+"万"
			})
		
			var offCanvasWrapperApp=new Vue({
				el:"#offCanvasWrapper",
				data:{
					loginStatus:true,
					username:"",
					avatarUrl:"",			
					/*选项卡*/
					tabClass:"paihang",	
					tabShowStatusnowTime:false,
					tabShowStatusgedan:false,
					tabShowStatuspaihang:true,
					tabShowStatusremen:false,
					/*选项卡*/
					/*轮播*/
					firstBanners:"",
					banners:[],
					lastBanners:"",
					length:"",
					/*轮播*/
					/*推荐歌单*/
					RecommendResource:[],
					/*推荐歌单*/
					/*电台*/
					RecommendRDjprogram:[],
					/*电台*/
										
					/*歌单选项卡*/
					styleobj:{
						background: ''
					},
					description:"穿梭于光影世界，感受百般人生。",
					
					/*排行榜*/
					officialText:"官方榜",
					GlobalText:"全球榜",
					officialList:[],
					GlobalList:[]
					
				},
				filters: {	  
					namefilter:function(value){
						if(!value)return ""
						return value.substring(0,14)+"..."
						
					},
					substring:function (value) {
						  if (!value) return ''
						  value = value.toString();
						//  console.log(value.length)
						  if(value.length>9){
						  	return value.substring(0,9)+"..."
						  }
						  return value
					}
				}
			});
			
			(function($) {
				 loginStatus($);	
				 switch (offCanvasWrapperApp.tabClass){
			    	case "nowTime":
			    	nowTimenum=1
			    	getBanner($);
					getRecommendResource($);
					getRecommendmusic($);
			    		break;
			    	case "gedan":
			    	gedannum=1
					getCatlist($);
			    		break;
			    	case "paihang":
			    	paihangnum=1
					getTopdetailList($)
			    		break;
			    	case "remen":
			    	remennum=1
			    		break;
			    	default:
			    		break;
			   }
			})(mui);
		</script>
	</body>
</html>
