<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>

		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/weui.css"/>
		<link rel="stylesheet" type="text/css" href="css/weuix.css"/>
		<link href="css/moren.css" rel="stylesheet" />	
		<link href="css/music.css" rel="stylesheet" />
		<style type="text/css">
			/*防止出现大括号*/
			[v-cloak] {
			  opacity: 0 !important;
			}
		</style>
	</head>
	<body>
		
		<header class="mui-bar mui-bar-nav music-header" id="headerBox" v-if="show">
		 <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		 <h1 class="mui-title" style="color: white;">搜索</h1>
		</header>		

		<div class="mui-content" id="searchBox">
			
			<!--搜索框-->
			<div class="weui-search-bar" id="searchBar">
			    <form class="weui-search-bar__form" action="#">
			        <div class="weui-search-bar__box">
			            <i class="weui-icon-search"></i>
			            <input 
			            class="weui-search-bar__input"
			            id="searchInput" 
			            v-model="searchText" 
			            @keyup.enter="onSearch" 
			            placeholder="搜索" 
			            required="" 
			            type="search" 
			            style="margin-bottom: 0;"
			            ref='input'
			            >
			            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
			        </div>
			        <label ref='label' class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
			            <i class="weui-icon-search"></i>
			            <span v-cloak>{{placeholder}}</span>
			        </label>
			    </form>
			    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
			</div>
			<!--热搜-->
			<div class="hotBox" id="hot-box">
				<span v-cloak>{{hottextstatus}}</span>
				<div class="hotbox-list">
					<template v-for="item in hotlist">						
						<span class="hotText" @click="hotTextClick($event)">{{item.first}}</span>
					</template>
					
				</div>
			</div>
		</div>



		<script src="js/mui.min.js"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/webviewGroup.js" type="text/javascript" charset="utf-8"></script>	
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/zepto.weui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack:false //启用右滑关闭功能
			});
			var headerbox=new Vue({
				el:"#headerBox",
				data:{
					show:true
				}
			})
			var hotApp=new Vue({
				el:"#searchBox",
				data:{
					hotlist:[],
					searchText:"",
					hottextstatus:"热门搜索",
					placeholder:"搜索"
				},
				methods:{
					hotTextClick:function(event){
					//	console.log(event.currentTarget.innerHTML)	
					//	this.searchText=event.currentTarget.innerHTML;	
						this.placeholder=event.currentTarget.innerHTML
						headerbox.show=false;
						hotApp.hotlist=[];
						hotApp.hottextstatus="综合";						
						this.$refs.label.focus();
						getSearchMultimatch(mui,event.currentTarget.innerHTML)
					},
					onSearch:function(event){
						headerbox.show=false;
						hotApp.hotlist=[];
						hotApp.hottextstatus="综合";		
						getSearchMultimatch(mui,this.searchText)
						
						return false
					}
				}
			});
			
			(function($) {
				getSearchhotlist($)
			})(mui);
		
		</script>

	</body>
</html>
